.iconCircle {
  border-radius: 3rem;
  background: rgba(0, 0, 0, 0.05);
}

.AppBar {
  .menuButtons {
    position: relative;
    height: 48px;
    // margin: -12px 0;

    .menuItem {
      height: 100%;
      position: relative;
      border-bottom: 3px solid transparent;
      // transition: border-color 0.3s ease;
      &.selected {
        border-bottom: 3px solid #444;
      }
    }
  }
  .miniStatsWrap {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
