@import "./../../App.scss";

.Board {
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }
  .noWrap {
    white-space: nowrap;
  }
  .textInput {
    background: #ddd;
  }
  .heroButton {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    // background: linear-gradient(90deg, #e520af, hsl(276, 90%, 41%));
    border: none;
  }
  .errorBorder {
    border: 1px solid red;
  }
  .errorWarning {
    color: #ff0000;
  }
  .buttonGroupWrap {
    .ButtonGroup {
      white-space: nowrap;
    }
  }
  .boardTitle,
  .titleString {
    // text-transform: capitalize;
  }
  .editTitleButton {
    opacity: 0.5;
    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
  .searchModeString {
    text-transform: capitalize;
  }
  // .pill {
  //   // background: red;
  //   padding-left: 0.5rem;
  //   padding-right: 0.5rem;
  //   font-weight: 500;
  //   // background: linear-gradient(90deg, hsl(276, 90%, 51%), hsl(296, 90%, 41%));
  //   background-image: linear-gradient(
  //     120deg,
  //     hsl(286, 90%, 41%),
  //     hsl(256, 90%, 51%)
  //   );
  //   transition: background-image 0.3s ease, box-shadow 0.3s ease;
  //   @media (hover: hover) {
  //     &:hover {
  //       background-image: linear-gradient(
  //         120deg,
  //         hsl(286, 100%, 51%),
  //         hsl(256, 100%, 61%)
  //       );
  //       box-shadow: 0 4px 1rem 0.25rem rgba(0, 0, 0, 0.2);
  //     }
  //   }
  //   &.hasClose {
  //     padding-left: 1rem;
  //   }
  // }
  .toggleButton {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    @media (hover: hover) {
      &:hover {
        // background: rgba(0, 0, 0, 0.05);
        color: #000;
        background: violet;
        cursor: pointer;
        svg path {
          stroke: #fff;
        }
      }
    }
  }

  .noData {
    font-style: italic;
    opacity: 0.7;
  }
  .kitty {
    background: #eee;
  }
  .kittyBlock {
    background: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    .kittyRow {
      font-size: 0.875rem;
      order: 5;

      @media (hover: hover) {
        &:hover {
          // background: rgba(0, 0, 0, 0.05);
          color: #000;
          background: #ee82ee1f;
          cursor: pointer;
        }
      }
      .subtitle {
        opacity: 0.7;
      }

      &:last-child {
        border-bottom: none !important;
      }
      &.header {
        order: 1;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: bold;
        color: hsl(286, 90%, 41%);
      }
      &.fancy {
        // border: 1px solid red;
        order: 2;
      }
    }
  }
  .theBoard {
    z-index: 10;
    position: relative;
    box-shadow: 0px 4px 8px 7px rgba(0, 0, 0, 0.2);
    .theBoardHeader {
      background: transparent;
      // background: linear-gradient(
      //   120deg,
      //   hsl(286, 90%, 41%),
      //   hsl(256, 90%, 61%)
      // );
    }
    .theBoardHeaderRow {
      h6 {
        color: hsl(286, 90%, 41%);
        font-weight: bold;
        font-size: 0.75rem;
        letter-spacing: 0.035rem;
      }
      background: rgba(255, 255, 255, 0.5) !important;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid hsla(286, 90%, 41%, 0.5);
    }
    .theBoardContent {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 0 0 4px 4px;
      // box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
      .breederRow {
        border-bottom: 1px solid #9414cf1c;
      }
      .fancyWrap {
        width: 2.5rem;
        height: 2.5rem;
        // background: #7242f5;
        border-radius: 100%;
        // border: 2px solid #7242f5;
        // position: absolute;
        right: 0;
        // margin-top: -0.25rem;
        position: absolute;
        img {
          width: 100% !important;
        }
      }
      .breederNickname {
        font-weight: 500;
        position: relative;
        // font-size: 0.875rem;
        .breederBar {
          width: 50%;
          height: 1rem;
          display: inline-block;
          background: violet;
          border-radius: 0 0.25rem 0.25rem 0;
          left: -0.4rem;
          position: relative;
        }
      }
    }
    .viewLink {
      &:hover {
        svg path {
          stroke: #e520af;
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -10px; /* !importanté */
      border-radius: inherit; /* !importanté */
      // background: linear-gradient(to right, red, orange);
      background: linear-gradient(
        120deg,
        hsl(286, 90%, 41%),
        hsl(256, 90%, 61%)
      );
    }
  }
  .shhBox {
    position: fixed;
    bottom: 24px;
    left: 24px;
  }
  .updateResult,
  .updateMessage {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 10;
  }
}
.pointsDescription {
  color: #aaa;
  font-size: 0.875rem;

  strong {
    padding-left: 0.5ch;
  }
}
