.KittyPage {
  transition: opacity 0.2s linear;
  &.isTransitioning {
    opacity: 0;
  }
  .arrow {
    width: 3rem;
    height: 6rem;
    position: fixed;
    &.prev {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
      left: 0;
      top: calc(49vh - 2rem);
    }
    &.next {
      right: 0;
      top: calc(49vh - 2rem);
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
    }
  }
  .sectionHeading {
    position: relative;
    padding: 1rem 0 1.5rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 3px;
      background: #ccc;
    }
  }

  .mainHeader {
    min-height: 10rem;
    position: relative;
    margin-bottom: 2rem;
    .bannerWrap {
      z-index: 3;
      position: absolute;
      // top: 50%;
      //width: 100%;
      left: 2%;
      right: 2%;
      width: auto;
      margin-top: 0rem;
      bottom: 2rem;
      h1 {
        text-transform: capitalize;
      }
    }
    .fancyMeta {
      .heroImageWrap {
        // background: red;
        // max-width: 300px;
        // position: relative;
        // top: -10rem;
        width: 40vw;
        height: 40vw;
        background: #ddd;
        border-radius: 40vw;
      }
      .fancyImage {
        max-width: 100%;
        z-index: 2;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.05);
      }
      .metaSide {
        // margin-top: 20%;
        border: none;
      }
      .colorsWrapper {
        position: absolute;
        left: 18vw;
        top: 8vw;

        width: 50px;
        z-index: 2;
        .colorContent {
          width: 3vw;
          height: 3vw;
          border-radius: 6px;
          border: 2px solid white;
          margin-bottom: 2vw;
          &:nth-child(1) {
            margin-left: 3vw;
          }
          &:nth-child(2) {
            margin-left: 1vw;
          }
          &:nth-child(4) {
            margin-left: 1vw;
          }
        }
      }
      .traitHighlights {
        position: absolute;
        right: 0;
        // bottom: 0;
        top: 0;
        left: 0;
        z-index: 9999;
        height: 40vw;

        .traitItemWrap {
          width: 200px;
          height: 50px;
          // background: rgba(0, 255, 0, 0.315);

          &.eyeColor {
            $markerWidth: 80px;
            $contentWidth: 180px;
            position: absolute;
            left: 4%;
            top: 5%;
            width: calc(#{$markerWidth} + #{$contentWidth});
            height: 100px;
            .traitItem.primaryColor {
              left: 0;
              width: $contentWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(#{$contentWidth} + 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }

          &.primaryColor {
            $markerWidth: 110px;
            $contentWidth: 180px;
            position: absolute;
            left: 0%;
            top: 20%;
            width: calc(#{$markerWidth} + #{$contentWidth});
            height: 100px;
            .traitItem.primaryColor {
              left: 0;
              width: $contentWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(#{$contentWidth} + 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }
          &.secondaryColor {
            $markerWidth: 110px;
            position: absolute;
            left: -2%;
            top: 35%;
            width: calc(#{$markerWidth} + 180px);
            height: 100px;
            .traitItem.secondaryColor {
              left: 0;
              width: 180px;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(180px + 0px);
                top: calc(-1px);
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }

          &.tertiaryColor {
            $markerWidth: 110px;
            $contentWidth: 180px;
            position: absolute;
            left: 2%;
            top: 50%;
            width: calc(#{$markerWidth} + #{$contentWidth});
            height: 100px;
            .traitItem.tertiaryColor {
              left: 0;
              width: $contentWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(#{$contentWidth} - 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }

          &.environment {
            $markerWidth: 100px;
            $contentWidth: 180px;
            position: absolute;
            left: 5%;
            top: 65%;
            width: calc(#{$markerWidth} + #{$contentWidth});
            height: 100px;
            .traitItem.environment {
              left: 0;
              width: $contentWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(#{$contentWidth} - 1px);
                top: calc(-1px);
                margin-top: -20px;
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }

          &.right {
          }
          &.wild {
            // transform: translate(60%, 5%);
            $markerWidth: 200px;
            position: absolute;
            left: 50%;
            top: 2vw;
            width: calc(200px + #{$markerWidth});
            height: 100px;
            .traitItem.wild {
              left: $markerWidth;
              .lineWrap {
                left: calc(0px - #{$markerWidth} + 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 200px;
                border: none;
              }
            }
          }
          &.eyes {
            // transform: translate(60%, 5%);
            $markerWidth: 280px;
            $contentWidth: 180px;
            position: absolute;
            left: 50%;
            top: 20%;
            width: calc(#{$contentWidth} + #{$contentWidth});
            height: 100px;
            .traitItem.eyes {
              left: $markerWidth;
              width: $contentWidth;
              // top: 20%;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(0px - #{$markerWidth} + 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 100px;
                border: none;
              }
            }
          }
          &.mouth {
            $markerWidth: 280px;
            position: absolute;
            left: 52%;
            top: 35%;
            width: calc(#{$markerWidth} + 200px);
            height: 100px;
            .traitItem.mouth {
              left: $markerWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(0px - #{$markerWidth} + 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 200px;
                border: none;
              }
            }
          }
          &.pattern {
            $markerWidth: 240px;
            position: absolute;
            left: 55%;
            top: 50%;
            width: calc(#{$markerWidth} + 200px);
            height: 100px;
            .traitItem.pattern {
              left: $markerWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(0px - #{$markerWidth} + 1px);
                top: calc(-1px);
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }
          &.body {
            $markerWidth: 230px;
            $contentWidth: 180px;
            position: absolute;
            left: 55%;
            top: 65%;
            width: calc(#{$markerWidth} + #{$contentWidth});
            height: 100px;
            .traitItem.body {
              left: $markerWidth;
              width: $contentWidth;
              &:before {
                width: 100%;
                background: violet;
              }
              .lineWrap {
                left: calc(0px - #{$markerWidth} + 1px);
                top: calc(-1px);
                margin-top: -40px;
                width: $markerWidth;
                height: 80px;
                border: none;
              }
            }
          }
        }
        .traitItem {
          width: 200px;
          position: absolute;
          // border: none;
          padding: 6px 0;
          &.right {
            text-align: right;
          }
          &:before {
            content: "";
            position: absolute;
            top: -2px;
            width: 16px;
            left: 0;
            height: 1px;
            // background: #ddd;
            width: 100%;
            background: violet;
          }
          &:hover {
            .lineWrap {
              path,
              ellipse,
              line {
                stroke: #000;
              }
            }
            &:before {
              background: #000 !important;
            }
          }

          .curve {
            width: 300px;
            height: 300px;
            z-index: 99;
            position: absolute;
          }
          .lineWrap {
            width: 300px;
            height: 300px;
            position: absolute;
            left: 0px;
            top: 0px;
            border: 1px solid #ccc;
            z-index: 99;
          }
        }
      }
    }
  }
  .colorItem {
    .colorSwatch {
      border: 1px solid white;
      border-radius: 100%;
    }
    .colorKitty {
      .filled {
      }
      .vacant {
      }
    }
  }
}

.KittyItem {
  .kittyItemImage {
    img {
      width: 100%;
      height: auto;
      transform: scale(1.55);
    }
  }
}
