$bezier: cubic-bezier(0.75, -0.5, 0, 1.75);

.KittyItem {
  // DISPLAYMODES
  &.default {
  }
  &.ranking {
  }
  &.featured {
    padding: 0;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.3s $bezier, box-shadow 0.3s $bezier;
    .kittyBreeder {
      z-index: 10;
      position: relative;
      h4 {
        margin: 0 0 0.5rem 0;
      }
    }
    .kittyItemImage {
      position: relative;
      flex-basis: 30%;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      z-index: 5;
      img {
        transform: scale(1);
        transition: 0.5s transform $bezier;
      }
      .bigDot {
        z-index: 0;
        position: absolute;
        left: 20%;
        top: 50%;
        height: 12px;
        width: 12px;
        margin-left: -6px;
        margin-top: -6px;
        border-radius: 12px;
        // background: red;
        transform: scale3d(15, 15, 15);
        transition: 0.5s transform $bezier;
      }
    }
  }
  &:hover {
    &.featured {
      overflow: hidden;
      box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
      transform: translateY(-6px);
      .bigDot {
        transform: scale3d(40, 40, 40);
      }
      .kittyItemImage {
        img {
          transform: scale(1.5);
        }
      }
    }
  }
}
