.PrestigesPage {
  transition: opacity 0.2s linear;
  &.isTransitioning {
    opacity: 0;
  }
  .prestigeItem {
    .prestigeImage {
      max-width: 200px;
      background: rgba(0, 0, 0, 0.05);
      img {
        width: 100%;
        height: auto;
        // border-radius: 50%;
      }
    }
    .kittyTitle {
      text-transform: capitalize;
    }
  }

  .fancyItem {
    .fancyImage {
      max-width: 160px;
      position: relative;
      // background: rgba(0, 0, 0, 0.05);
      padding-left: 10px;
      img {
        width: 100%;
        height: auto;
        z-index: 2;
        transform: scale(1.25);
      }
      .shadow {
        z-index: -1;
        position: absolute;
        top: 77%;
        left: 0;
        right: 0;
        width: 66%;
        height: 8.2%;
        margin: auto;
        // background-color: var(--shadowColor);
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
  .prestigeTypeButton {
    @media (hover: hover) {
      &:hover {
        background: rgba(0, 0, 0, 0.05);
        // color: #000;
        // background: violet;
        // cursor: pointer;
        .actionIconWrap {
          svg polygon,
          svg path {
            stroke: violet;
          }
        }
      }
    }
  }
}
