@import "../../App.scss";
.HomePage {
  transition: opacity 0.2s linear;
  &.isTransitioning {
    opacity: 0;
  }
  .livePreviewBox {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    .placeHolderRow {
      height: 8px;
      margin-bottom: 2px;
      background: #ddd;
      &.large {
        height: 18px;
        margin-bottom: 4px;
      }
      &.medium {
        height: 12px;
      }
    }
    @media (hover: hover) {
      &:hover {
        transform: translateY(-2px);
        background: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .BoardList {
  }
  .BoardRow {
    transition: box-shadow 0.3s ease-in-out;
    .boardSubtitle {
    }

    @media (hover: hover) {
      &:hover {
        &:not(.header) {
          cursor: pointer;
          background: #fff;
          box-shadow: 0 2px 1rem -0.25rem rgba(0, 0, 0, 0.2);
          svg.viewIcon {
            // border: 10px solid red;
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
    &.header {
      background: transparent;
    }
    &.isOwner {
      border-left: 4px solid violet;
      border-right: 4px solid violet;
    }
    svg.viewIcon {
      // path {
      //   stroke: violet;
      // }
    }
  }
}
